body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
  }

  .swiper {
    max-width: 1000px;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: #010101;
    color: #fbfbfb;
  }

  .light {
    background-color: white;
    color: black;
  }

  .dark {
    background-color: black;
    color: white;
  }

  .bouttondark {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }